<!DOCTYPE html>
<html>
    <%- include('../partials/header.ejs') %>
    <body>
        <div>
            <h1>Oops The page not found</h1>
        </div>
        <%- include('../partials/nav.ejs') %>
    </body>
</html>