<!DOCTYPE html>
<html>
    <%- include('../partials/header.ejs') %>
    <body>
        <div>
            <h1>This is about page</h1>
        </div>
        <nav>
            <%- include('../partials/nav.ejs') %>
    </body>
</html>