<!DOCTYPE html>
<html>
  <head>
    <title>This is new page</title>
  </head>
  <body>
    <div>
      <h1>This is home page</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/new_blog">New blog</a></li>
      </ul>
    </nav>
    <div>
      <form action="">
        <label>Name</label>
        <input type="text" />
        <label>|Email</label>
        <input type="text" />
        <label>Description</label>
        <textarea rows="" cols=""></textarea>
        <button>Submit</button>
      </form>
    </div>
  </body>
</html>
